html 
    body 
        a(href = "/") Home
        span  
        a(href = "/signin/") Log In/Out
        span  
        span  
        a(href = "/users/") Profile
        span  
        a(href = "/search/") Search
        span  
        a(href = "/contribute/") Contribute

        
